extends layout

block content
    h1= title
    form.form-horizontal(action='/newnote', method='post')
        fieldset
            legend Enter New Meeting Note
            .form-group
                label.col-md-4.control-label Name
                .col-md-3
                    select.form-control(id='memberName' name='memberName')
                        option Name1
                .col-md-3
                    input.form-control(placeholder='New Member' id='txtNewMember' name='txtNewMember')
                .col-md-1
                    button.form-control.btn.btn-primary(id='btnAddMemeber' name='btnAddMember' onclick='Vscrum.addToSelect("memberName","txtNewMember")' type='button') Add
            .form-group
                label.col-md-4.control-label Project
                .col-md-3
                    select.form-control(id='project' name='project')
                        option Project1
                .col-md-3
                    input.form-control(placeholder='New Project' id='txtNewProject' name='txtNewProject')
                .col-md-1
                    button.form-control.btn.btn-primary(id='btnAddProject' name='btnAddProject' onclick='Vscrum.addToSelect("project","txtNewProject")' type='button') Add
            .form-group
                label.col-md-4.control-label Yesterday's Work
                .col-md-6
                    textarea.form-control(id='workYesterday' name='workYesterday') Yesterday
            .form-group
                label.col-md-4.control-label Today's Work
                .col-md-6
                    textarea.form-control(id='workToday' name='workToday') Today
            .form-group
                label.col-md-4.control-label Any impediments?
                .col-md-6
                    textarea.form-control(id='impediments' name='impediments') Impediments
            .form-group
                label.col-md-4.control-label Save Note
                .col-md-4
                    button.btn.btn-primary(id='btnSaveNote' name='btnSaveNote' type='submit') Save